<!DOCTYPE html>
<html lang="{{ i18n.lang_code }}" dir="{{ i18n.dir }}">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7BBELHZS6G"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7BBELHZS6G');
    </script>

    <!-- iubenda consent for GDPR -->
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {
        "siteId":3984441,"cookiePolicyId":74809661,"lang":"{{ i18n.lang_code }}",
        "storage":{"useSiteId":true},
        "banner": {
          "position": "bottom",
          "content": "{{ i18n.t.cookie_prompt }}",
          "backgroundColor": "#024",
          "textColor": "#def",
          "fontSize": "16px",
          "innerHtmlCloseBtn": "OK"
        }
      };
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3984441.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ app.name }} | {{ i18n.t.app_short_description }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicons/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/body.css') }}">
    {% endblock %}
</head>
<body>

    <div class="fixed-top">
        <span class="left"><a href="/">{{ app.name }}</a></span>
        <span class="right">{% include 'common/language_options.html' %}</span>
    </div>

    {% block hero_image %}{% endblock %}

    {% include 'common/page_messages.html' %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'common/page_bottom.html' %}
</body>
</html>