.settings-form { width:93%; border:0; margin: 0; padding:0; }
@media only screen and (min-width: 760px) {
    .settings-form { width:42rem; border:0; margin: 0; padding:0; }
}

form .inline-label {
    display: block;
}
@media only screen and (min-width: 760px) {
    form .inline-label {
        min-width: 16rem;
        width: 24rem;
        max-width: 32rem;
        display: inline-block;
    }
}

form .red-asterix { font-weight:900; color: red; }

form .control { font-size: 1.5rem; margin-top: 0.5rem; margin-bottom:0.5rem; }

form input[type="text"] { width: 85%; }

form textarea { width: 85%; }

form select { width: 85%; }

form label { color: #def; }

#settings label { font-size:1rem; }
@media only screen and (min-width: 760px) {
    #settings label { font-size: inherit; }
}

form .clickable {
    background-color: #0f9df7;
    padding: 0.5rem 1rem;
    border: none;
}

form .button {
    border-radius: 0.5rem;
}

form #settings { display: none; }

form .settings-input {
    background-color: #023;
}

.submit_game_to_load {
    vertical-align:top; margin-top:0.5rem;
}

form .game_session_message { height: 2rem; font-size:1rem; }
@media only screen and (min-width: 760px) {
    form .game_session_message { height: 2rem; font-size:1.25rem; }
}

.question-text { margin-bottom: 1rem; }

.italic { font-style: italic; }