{% extends "common/page.html" %}

{% block hero_image %}{% include 'common/hero.html' %}{% endblock %}

{% block content %}

    <p>
        <a id="combo_trainer" href="trainers/combo">{{ i18n.t.combo_trainer }}</a>
    </p>
    {% for trainer in app.trainer_types %}
        {% with trainer_id = trainer + '_trainer' %}
            <p>
                <a id="{{ trainer_id }}" href="trainers/{{ trainer }}">{{ i18n.t[trainer_id] }}</a>
            </p>
        {% endwith %}
    {% endfor %}
    {% if chat and chat.disabled != true %}
        <p><a id="chat_trainer" href="chat">{{ i18n.t.chat }}</a></p>
    {% endif %}
{% endblock %}
