{% extends "common/page.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}

{% block content %}

    <h3>{{ i18n.t.preposition_trainer }}</h3>

    {% include 'trainers/common/settings.html' %}

    <form id="game_session_answer" action="/trainers/{{ trainer }}"
          class="form" method="post">

        <input type="hidden" name="action" value="answer"/>

        <p id="game_session_message">
            <span class="left">
                <span id="game_session_previous_answer_message">
                    {% if game_session.is_pending == true %}
                        {{ i18n.t.start_game_prompt }}
                    {% elif game_session.is_completed == true %}
                        {{ i18n.t.game_completed_message.format(game_session.previous_score_percent) }} ({{ game_session.previous_score }})
                    {% elif game_session.is_running == true %}
                        {% if game_session.question.previous.answer_correct == true %}
                            &emsp;&#9989
                        {% elif game_session.question.previous.answer_correct == false %}
                            &emsp;&#10060 &nbsp; &#8702; &nbsp; {{ game_session.question.previous.correct_answer }}
                        {% endif %}
                    {% endif %}
                </span>
            </span>
            &emsp;
            <span class="right">
                {% if game_session.is_completed == false %}
                    {{ i18n.t.time }}: <span id="game_session_countdown">{{ game_session.countdown }}</span>
                {% endif %}
            </span>
        </p>
        <div id="game_session_question">
            <div class="question-text">{{ game_session.question.current.example }}</div>
            {% if game_session.question.current.translation %}
                <div class="question-text italic">{{ game_session.question.current.translation }}</div>
            {% endif %}
        </div>

        {% for option in game_session.question.current.choices %}
            {% if game_session.is_running == true %}
                <button type="submit" name="answer" value="{{ option }}"
                        class="control clickable">{{ option }}</button>
            {% else %}
                <button type="submit" name="answer" value="{{ option }}"
                        class="control clickable" disabled>{{ option }}</button>
            {% endif %}
            &emsp;
        {% endfor %}
    </form>
    <form id="game_session" action="/trainers/{{ trainer }}"
          class="form" method="post">

        {% if game_session.is_running == true %}
            <button type="submit" id="action_pause" name="action" value="pause"
                    class="control clickable button">{{ i18n.t.pause }}</button>
        {% else %}
            <button type="submit" id="action_start" name="action" value="start"
                    class="control clickable button">{{ i18n.t.start }}</button>
        {% endif %}

        <p>
            <span class="left">
                {{ i18n.t.questions_left }}: <span id="game_session_questions_left">{{ game_session.questions_left }}</span>
            </span>
            &emsp;
            <span class="right">
                {{ i18n.t.score }}: <span id="game_session_score">{{ game_session.score }}</span>
            </span>
        </p>
    </form>
    <form id="game_session_next" action="/trainers/{{ trainer }}"
          class="form" method="post">
        <input type="hidden" id="action_next" name="action" value="next"/>
    </form>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"
            onload="fastergerman.updateSettingsForGame(
                          'game_to_load', 'start_at_question_number,max_number_of_questions');
                    fastergerman.startCountdown(
                          '{{ 0 if game_session.is_running == false else game_session.end_time }}',
                          'game_session_next', 'game_session_countdown',
                          'game_session_previous_answer_message', '{{ game_session.question.previous.answer_correct }}',
                          'page_error', '{{ i18n.t.unexpected_error }}', '{{ app.is_production }}');">
    </script>
{% endblock %}

